<?xml version="1.0" encoding="UTF-8"?>

<widget id="OSC" version="0.0.1">
  <name>OSC</name>
  <description>开源中国 - 找到您想要的开源项目，分享和交流</description>
  <author email="l396@hotmail.com" href="http://www.apicloud.com">流风回雪</author>
  <content src="index.html"/>
  <preference name="pageBounce" value="false"/>
  <preference name="appBackground" value="rgba(0,0,0,0.0)"/>
  <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
  <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
  <preference name="hScrollBarEnabled" value="true"/>
  <preference name="vScrollBarEnabled" value="true"/>
  <preference name="autoLaunch" value="true"/>
  <preference name="fullScreen" value="false"/>
  <preference name="autoUpdate" value="true"/>
  <preference name="smartUpdate" value="false"/>
  <preference name="debug" value="false"/>
  <preference name="iOS7StatusBarAppearance" value="true"/>
  <permission name="fileSystem"/>
  <access origin="*"/>
</widget>
